*{
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;/*faz com que os inputs comecem a respeitar a largura maxima das divs pais  */
}

h1,h2,h3{
  color: #333;
}

p{
  color: #70747a;
}

/*NAVBAR*/

.navbar-container{
  width: 100%;
  height: 80px;
  background-color: #232a31;
  padding: 0.2rem;
}

nav{
  position: relative;
}

.logo{
  width: 50px;
  margin-top: 15px;
}

.logo:hover{
  opacity: 85%;
  transition: 0.5s;
}

.navbar-items{
  position: absolute;
  right: 0;
  height: 80px;
  line-height: 80px;
  margin: 0;
  display: inline-block;
}

.navbar-items li{
  display: inline-block;
  text-transform: uppercase;
  margin-left: 25px;
}

.navbar-items a{
  color: #fff;
  text-decoration: none;
  transition: 0.5s;
  cursor: pointer;
}

.navbar-items a:hover{
  color: lightgoldenrodyellow;
}

.default-btn{
  padding: 15px 20px;
  background-color: #2cc76a;
  border-radius: 5px;
}

.default-btn:hover{
  background-color: #22bb5f;
  color: lightgoldenrodyellow ;
}

/* MAIN BANER*/

.main-banner{
  background-image: url("../img/mainbanner.png");
  background-size: cover;
  background-position: center;
  padding: 10rem 0;
}

.main-banner h1,
.main-banner h3,
.main-banner p{
  color: lightgoldenrodyellow ;
  text-align: center;
  font-weight: bold;
  text-shadow: #000 3px 2px 3px;
}

.main-banner h1{
  font-size: 54px;
}

.main-banner h3{
  font-size: 34px;
}

.main-banner p{
  font-size: 24px;
}

/* Services */

.service-container{
  padding: 5rem;
  display: flex;
}

.service-container ul{
  width: 90%;
  margin: 0 auto;
}

.service-container li{
  flex: 1 1 200px;
  list-style: none;
  text-align: center;
  padding: 20px;
}

.fas{
  font-size: 60px;
  margin-bottom: 15px;
}

.fa-shield-alt{
  color: #2cc76a;
}

.fa-rocket{
  color: #ef3f29;
}

.fa-comments{
  color: #ef8f29;
}

.service-container h3{
  margin-bottom: 25px;
  color: #666;
}

.service-container p {
  line-height: 24px;
  color: #666;
}

/*PRICES AND PLANES*/

.princing-container{
  padding-bottom: 5rem;
  text-align: center;
}

.princing-container h2{
  font-size: 44px;
}

.princing-container p{
  font-size: 24px;
}

.plans-container{
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 50px auto;
}

.plan{
  flex: 1;
  max-width: 275px;
  margin: 20px 0;
}

.plan ul{
  padding: 0;
}

.plan li{
  list-style: none;
  height: 50px;
  line-height: 50px;
  color: #666;
  background-color: #e8e9ea;
}

.plan .price{
  width: 120px;
  height: 120px;
  border-radius: 50% ;
  background-color: #2cc762;
  color: #fff;
  text-align: center;
  line-height: 120px;
  margin: 0 auto -50px;
  font-size: 18px;
  position: relative;
}

.plan .price:hover{
  background-color: #17ce57;
  color: gold;
}

.plan .plan-name{
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  background-color: #202b34;
  padding: 50px 0;
}

.plan .plan-btn{
  background-color: #2cc762;
  color: #fff;
  font-size: 24px;
  height: 75px;
  line-height: 75px;
  cursor: pointer;
}

.plan .plan-btn:hover{
  background-color: #17ce57;
  color: gold;
  transition: 0.5s;
}

.plan .recommended{
  background-color: gold;
}

/*SEARCH DOMAIN*/

.searchdomain-container{
  background-color: #34454e;
  text-align: center;
  padding: 5rem 0;
}

.searchdomain-container h2{
  color: #fff;
  font-size: 42px;
  margin-bottom: 15px;
}

.searchdomain-container p{
  color: #d5d5d5;
  font-size: 25px;
  margin-bottom: 25px;
}

.searchdomain-container input{
  display: block;
  border: none;
  border-radius: 5px;
  margin: 0 auto;
}

.searchdomain-container input[type="text"]{
  width: 60%;
  padding: 20px;
  font-size: 20px;
  margin-bottom: 25px;
}

.searchdomain-container input[type="submit"]{
  background-color: #2cc762;
  color: lightgoldenrodyellow;
  padding: 15px 30px;
  font-size: 24px;
  cursor: pointer;
}

.searchdomain-container input[type="submit"]:hover{
  background-color: #17ce57;
  color: gold;
  opacity: 85%;
  transition: 0.5s;
}

/*Contac Form*/

.contact-container{
  text-align: center;
  padding: 5rem 0 2rem 0;

}

.contact-container h2{
  font-size: 44px;
  margin-bottom: 15px;
}

.contact-container p {
  font-size: 24px;
  margin-bottom: 40px;
}

.contact-container input,
.contact-container textarea
{
  width: 200px;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin: 0 10px 20px;
}

.contact-container textarea{
  display: block;
  margin: 0 auto 20px;
  width: 450px;
  height: 150px;
}

.contact-container input[type="submit"]{
  display: block;
  margin: 0 auto;
  background-color: #2cc762;
  color: white;
  cursor: pointer;
  border: none;
}

.contact-container input[type="submit"]:hover{
  background-color: #17ce57;
  color: gold;
  transition: 0.5s;
  opacity: 85%;
}

/*FOOTER*/

footer{
  text-align: center;
  font-weight: bold;
  margin:20px 0 100px;
}

/*RESPONSIVIDADE */

/*Small laptops a partir de 1100px*/
@media (max-width:1100px){

  .plans-container{
    width: 95%;
  }

  .plan{
    margin: 0 5px;
  }
}

/*tablets 900px */

@media(max-width:900px){
  .main-banner p {
    padding: 0.8rem;
  }

  .searchdomain-container{
    padding: 2rem 4rem;
  }
}

/*Mobile L 576px*/

@media (max-width:576px ) {
  html, 
  body{
    overflow-x: hidden;
  }

  .navbar-items{
    font-size: 13px;
    margin-left: 10px;
  }

  .main-banner{
    padding: 0.2rem;
    height: 250px;
  }

  .main-banner h1{
    font-size: 44px;
  }

  .main-banner h3{
    font-size: 24px;
  }

  .main-banner p{
    font-size: 14px;
    margin-bottom: 0.2rem;
  }

  .banner-elements{
    padding-top: 2.5rem;
  }

  .service-container{
    flex-direction: column;
  }
  
  .plans-container{
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    margin-left: -5px;
  }
  .plan{
    width: 100%;
    max-width: 100%;
    margin-top: 2rem;
  }

  .searchdomain-container{
    font-size: 34px;
  }

  .searchdomain-container input[type="text"]{
    width: 100%;
  }

  .searchdomain-container input[type="submit"]{
    width: 100%;
  }

  .contact-container{
    padding: 2rem 3rem;
  }

  .contact-container h2{
    font-size: 34px;
  }

  .contact-container input,
  .contact-container textarea{
    width: 100%;
    max-width: 100%;
    margin: 10px 0;
  }
}